<!DOCTYPE html>
<html>
  <head><title>Test</title></head>
  <body>
      <form action="/test/submit" method="post">
        <input type="text" name="id">
        <button type="submit">Submit</button>
    </form>
    <%= user %>
  </body>
</html>